<ion-header>
  <app-menu-toolbar pageTitle="FOLLOW US!"></app-menu-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list lines="none">
    <ion-list-header> Follow us and share this app</ion-list-header>
    <ion-item class="ion-text-center ion-padding">
      <ion-note>
        All information about poke api at
        <a target="_blank" href="https://pokeapi.co/about">https://pokeapi.co/about</a>
      </ion-note>
    </ion-item>
    <ion-item target="_blank" href="https://www.apprendr.com">
      <ion-icon   slot="start" name="planet"></ion-icon>
      <ion-label> https://www.apprendr.com</ion-label>
    </ion-item>
    <ion-item target="_blank" href="mailto:hidran@gmail.com">
      <ion-icon   slot="start" name="at"></ion-icon>
      <ion-label>  hidran@gmail.com</ion-label>
    </ion-item>
    <ion-item target="_blank" href="https://github.com/hidran">
      <ion-icon color="danger"  slot="start" name="logo-github"></ion-icon>
      <ion-label>  @hidran</ion-label>
    </ion-item>
    <ion-item target="_blank" href="https://www.youtube.com/c/SviluppoWeb">
      <ion-icon color="danger"  slot="start" name="logo-youtube"></ion-icon>
    <ion-label>  @hidranarias</ion-label>
    </ion-item>
    <ion-item target="_blank" href="https://www.linkedin.com/in/hidran">
      <ion-icon color="primary"   slot="start" name="logo-linkedin"></ion-icon>
      <ion-label>  @hidranarias</ion-label>
    </ion-item>
    <ion-item target="_blank" href="https://www.facebook.com/hidranwebdevelopment">
      <ion-icon color="primary"  slot="start" name="logo-facebook"></ion-icon>
      <ion-label>  @hidranwebdevelopment</ion-label>
    </ion-item>
    <ion-item target="_blank" href="https://www.instagram.com/hidranarias/">
      <ion-icon color="primary"   slot="start" name="logo-instagram"></ion-icon>
      <ion-label>  @hidranarias</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
