<ion-header>
  <ion-toolbar>
    <ion-title>pokemon-details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>

      <ion-col class="ion-text-center ion-text-capitalize">
        <h1> {{pokemon.name}}</h1>
      </ion-col>

    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-img  [src]="pokemon.img" alt=" {{pokemon.name}} "></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row *ngIf="(pokemonData$ | async) as pData">
      <ion-col>
        {{pData | json}}
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
