<ion-header>
  <ion-toolbar class="ion-padding">
    <ion-title>{{pageTitle | uppercase}}</ion-title>
    <ion-searchbar
      (ionChange)="filterPokemons($event)"

      showCancelButton="focus">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list button *ngIf="pokemons$ | async as pokemons">
  <ion-item [queryParams]="{name: pok.name}" [routerLink]="['/pokemons/home/pokemon-details', pok.id]" *ngFor="let pok of pokemons" detail lines="none">
    <ion-thumbnail slot="start">
    <img src="{{pok.img}}">
  </ion-thumbnail>

    <ion-label slot="end"> {{pok.name}}</ion-label>
  </ion-item>
  </ion-list>
</ion-content>
